
<div class="main-content" id="panel">
    <input type="hidden" id="_csrf" name="_csrf" value='{{csrfToken}}'>
    <!-- Topnav -->
    <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary
        border-bottom">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar links -->
                <ul class="navbar-nav align-items-center ml-md-auto">


                </ul>
                <ul class="navbar-nav align-items-center ml-auto ml-md-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link pr-0" href="#" role="button"
                            data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <div class="media align-items-center">
                                <span class="avatar avatar-sm rounded-circle">
                                    <img alt="Image placeholder"
                                        src="../assets/img/theme/team-4.jpg">
                                </span>
                                <div class="media-body ml-2 d-none d-lg-block">
                                    <span class="mb-0 text-sm font-weight-bold"></span>Admin</span>
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-header noti-title">
                            <h6 class="text-overflow m-0">Welcome!</h6>
                        </div>
                        <a href="#!" class="dropdown-item">
                            <i class="ni ni-single-02"></i>
                            <span>My profile</span>
                        </a>
                        <a href="#!" class="dropdown-item">
                            <i class="ni ni-settings-gear-65"></i>
                            <span>Settings</span>
                        </a>
                        <a href="#!" class="dropdown-item">
                            <i class="ni ni-calendar-grid-58"></i>
                            <span>Activity</span>
                        </a>
                        <a href="#!" class="dropdown-item">
                            <i class="ni ni-support-16"></i>
                            <span>Support</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#!" class="dropdown-item">
                            <i class="ni ni-user-run"></i>
                            <span>Logout</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Header -->
<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Scrap Messages</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block
                        ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i
                                        class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item active"
                                aria-current="page">Scrap Messages</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row mt--5">
        <div class="col-md-10 ml-auto mr-auto">
            <div class="card card-upgrade">
                <div id="top-header" class="card-header text-center border-bottom-0 pb-0 d-flex justify-content-between">
                    <h4 class="card-title">Scrap de Messages</h4>
                </div>
                <div class="card-body pt-3">
                    <form id="userForm" role="form" style="display: iherit;">
                        <div class="row">
                            <div class="form-group col-6">
                                <label class="form-control-label"
                                    for="input-username">Username du Groupe</label>
                                <input id="group-scrap" class="form-control"
                                    placeholder="Username" type="text" value=""
                                    required>
                            </div>
                            <div class="form-group col-6">
                                <label class="form-control-label pl-0"
                                    for="symbol-crypto">Symbol Crypto</label>
                                <input id="symbol-crypto" class="form-control
                                    mr-2" placeholder="Symbol Crypto"
                                    type="text" value="" required>
                            </div>
                        </div>
                        <div class="row">

                            <div class="form-group col-6">
                                <label class="form-control-label pl-0"
                                    for="date_debut">Date de debut</label>
                                <div class="d-flex">
                                    <input id="date-debut" class="form-control
                                        col-8 mr-2" placeholder="Date de debut"
                                        type="date" value="" required>
                                    <input id="heure-debut" class="form-control
                                        col-3" placeholder="Heure de debut"
                                        type="time" value="" required>
                                </div>
                            </div>
                            <div class="form-group col-6">
                                <label class="form-control-label pl-0"
                                    for="date_fin">Date de fin</label>
                                <div class="d-flex">
                                    <input id="date-fin" class="form-control
                                        col-8 mr-2" placeholder="Date de Fin"
                                        type="date" value="" required>
                                    <input id="heure-fin" class="form-control
                                        col-3" placeholder="Heure de Fin"
                                        type="time" value="" required>
                                </div>
                            </div>

                        </div>

                        <div class="d-flex align-items-center mt-3 mb-2">
                            <div class="d-flex align-items-center">
                                <label class="form-control-label mr-3"
                                    for="input-username">Epinglés</label>
                                <label class="switch">
                                    <input id="pinned_checkbox" type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="d-flex align-items-center ml-5">
                                <label class="form-control-label mr-3"
                                    for="input-username">Transferés</label>
                                <label class="switch">
                                    <input id="frowarded_checkbox"
                                        type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="text-center">
                            <a id="btnSubmit"
                                    onclick="scrapMessage()" class="btn
                                    btn-primary my-4" style="color:white">
                            <img id="loader-svg" src="/assets/img/loader.svg" width="40" height="20" style="display:none">
                                    <span class="text-scrap">Scrapper</span>
                            </button>
                                                 
                            </a>
                                                        

                            </div>
                    </form>
                   
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer class="footer pt-0">
            <div class="row align-items-center justify-content-lg-between">
                <div class="col-lg-6">
                    <div class="copyright text-center text-lg-left text-muted">
                        &copy; 2020 <a href="https://www.taneflit.com"
                            class="font-weight-bold ml-1"
                            target="_blank">Taneflit</a>
                    </div>
                </div>

            </div>
        </footer>
    </div>
</div>
<script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.js"></script>
<script>
    async function scrapMessage(){
            let username = document.querySelector("#group-scrap").value
            let date_debut= document.querySelector("#date-debut").value
            let heure_debut = document.querySelector("#heure-debut").value
            let date_fin= document.querySelector("#date-fin").value
            let heure_fin = document.querySelector("#heure-fin").value
            let pinned_checkbox = document.querySelector("#pinned_checkbox").checked
            let frowarded_checkbox = document.querySelector("#frowarded_checkbox").checked
            let csrf = document.querySelector('#_csrf').value
            let symbol_crypto = document.querySelector("#symbol-crypto").value
            let loader_svg = document.querySelector("#loader-svg")
            let btnSubmit = document.querySelector("#btnSubmit")
            let userform = document.querySelector("#userForm")
            
            if (heure_debut.length != 0){
                date_debut += "T" +  heure_debut
            }
            if (heure_fin.length != 0){
                date_fin += "T" +  heure_fin
            }

            if (username.trim().length != 0 && date_debut.length != 0 && date_debut.length != 0 && symbol_crypto.length != 0 ){
                loader_svg.style.display = "inherit"
                btnSubmit.querySelector(".text-scrap").innerHTML = "Veuilliez patienter ..."

                if (document.querySelector("#messages_scrapes")){
                    document.querySelector("#messages_scrapes").remove()
                }

                if (document.querySelector(".telecharger_csv")){
                    document.querySelector(".telecharger_csv").remove();
                } 

                $.post('scrap_messages',
                {
                    _csrf: csrf,
                    username: username,
                    symbol_crypto: symbol_crypto,
                    date_debut: date_debut,
                    date_fin: date_fin, 
                    pinned_checkbox: pinned_checkbox, 
                    frowarded_checkbox: frowarded_checkbox 
                }, function(data) {
                   let card_body = document.querySelector(".card-body")
                   
                   // retiblir le button scrapper
                   loader_svg.style.display = "none"
                   btnSubmit.querySelector(".text-scrap").innerHTML = "Scrapper"

                   // ajouter le button telecharger en csv  dans le header                  
                   let top_header = document.querySelector("#top-header")
                   let button_csv_html = `<a class="btn btn-primary telecharger_csv" style="color:white" href="${data.link}">Telecharger en csv</a>`
                   
                   top_header.innerHTML += button_csv_html

                   let cours_html = `<div class="message_container" style="  padding: 1em;background-color: #5e87e4;border-radius: 0.35em;margin-top: 20px;">
                                       <span style="color:white; font-weight:400">Cours : ${data.cours} </span></div>
                                   `
                   card_body.innerHTML += cours_html

                    // afficher les message
                    let html_map = data.messages.map(el => {
                       let html =
                            `<div class="card-header border-0">
                            <div class="row align-items-center">
                                <div>
                                    <h4 class="mb-0">${el.date}</h4>
                                </div>
                                
                            </div>
                            <div class="message_container" style="  padding: 1em;background-color: #5e87e4;border-radius: 0.35em;margin-top: 20px;">
                                    <div>
                                    <p style="color:white;font-weight:400">${el.text}</p>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-end">`
                                       
                                    if (el.pinned == "true"){
                                    html +=`<div class="mr-2">
                                        <i class="fas fa-thumbtack" style='color:white'></i>                                    
                                        </div>`
                                    }
                                    
                                    if (el.forwarded == "true"){
                                    html +=`<div class="">
                                        <i class="fas fa-share" style="color:white"></i>
                                        </div>`
                                    }
                                    
                                    html +=`</div>
                            </div>
                            </div>`

                        return html;
                    }) 

                    html_map= html_map.join("")
                    let html = `<div id="messages_scrapes">` + html_map + "</div>"
                    card_body.innerHTML += html
                   //window.location.assign(data.link)
                });
            }
        }
</script>

