<div class="main-content">
	<!-- Header -->
	<div class="header bg-gradient-primary py-6 py-lg-6 pt-lg-6" >
		<div class="separator separator-bottom separator-skew zindex-100">
			<svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
				xmlns="http://www.w3.org/2000/svg">
				<polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
			</svg>
		</div>
	</div>
	<!-- Page content -->
	<div class="container mt--7 pb-5">
		<div class="row justify-content-center">
			<div class="col-lg-5 col-md-7">
				<div class="card bg-secondary border-0 mb-0">
					<div class="card-body px-lg-5 py-lg-5">
						<div class="text-center text-muted mb-4">
							<small>Creer un compte</small>
						</div>
						<form role="form">
							<div class="form-group mb-3">
								<div class="input-group input-group-merge input-group-alternative">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="ni ni-hat-3"></i></span>
									</div>
									<input class="form-control" placeholder="Nom" type="text">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group input-group-merge input-group-alternative mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="ni ni-hat-3"></i></span>
									</div>
									<input class="form-control" placeholder="Email" type="email">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group input-group-merge input-group-alternative">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
									</div>
									<input class="form-control" placeholder="Password" type="password">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group input-group-merge input-group-alternative">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
									</div>
									<input class="form-control" placeholder="Password" type="password">
								</div>
							</div>
							<div class="custom-control custom-control-alternative custom-checkbox">
								<input class="custom-control-input" id=" customCheckLogin" type="checkbox">
								<label class="custom-control-label" for=" customCheckLogin">
									<span class="text-muted">Remember me</span>
								</label>
							</div>
							{{#if errorMessage}}
							<div class="alert alert-danger" role="alert">
								{{errorMessage}}
							</div>
							{{/if}}
							<div class="text-center">
								<button type="button" class="btn btn-primary my-4">S'enregistrer</button>
							</div>
						</form>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-6">
						<a href="#" class="text-light"><small>Mot de passe oublié ?</small></a>
					</div>
					<div class="col-6 text-right">
						<a href="/login" class="text-light"><small>J'ai déja un compte</small></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>