<div class="main-content" id="panel">
    <input type="hidden" id="_csrf" name="_csrf" value='{{csrfToken}}'>
    <!-- Topnav -->
    <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar links -->
                <ul class="navbar-nav align-items-center  ml-md-auto ">


                </ul>
                <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
                    <li class="nav-item dropdown">
                        <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <div class="media align-items-center">
                                <span class="avatar avatar-sm rounded-circle">
                                    <img alt="Image placeholder" src="../assets/img/theme/team-4.jpg">
                                </span>
                                <div class="media-body  ml-2  d-none d-lg-block">
                                    <span class="mb-0 text-sm  font-weight-bold"></span>Admin</span>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu  dropdown-menu-right ">
                            <div class="dropdown-header noti-title">
                                <h6 class="text-overflow m-0">Welcome!</h6>
                            </div>
                            <a href="#!" class="dropdown-item">
                                <i class="ni ni-single-02"></i>
                                <span>My profile</span>
                            </a>
                            <a href="#!" class="dropdown-item">
                                <i class="ni ni-settings-gear-65"></i>
                                <span>Settings</span>
                            </a>
                            <a href="#!" class="dropdown-item">
                                <i class="ni ni-calendar-grid-58"></i>
                                <span>Activity</span>
                            </a>
                            <a href="#!" class="dropdown-item">
                                <i class="ni ni-support-16"></i>
                                <span>Support</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#!" class="dropdown-item">
                                <i class="ni ni-user-run"></i>
                                <span>Logout</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header -->
    <!-- Header -->
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">Import Members</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item active" aria-current="page">Memebers</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row mt--5">
            <div class="col-md-10 ml-auto mr-auto">
                <div class="card card-upgrade">
                    <div class="card-header text-center border-bottom-0 pb-0">
                        <h4 class="card-title">Information Utilisateur</h4>
                        <p class="card-category">renseinger les informations user</p>
                    </div>
                    <div class="card-body pt-1">
                        <form id="userForm" role="form">
                            <div class="form-group">
                                <label class="form-control-label" for="input-username">Num de Tel</label>
                                <input type="text" id="num-tel" class="form-control" placeholder="Num de Tel"
                                    type="text" value="{{user.tel}}" required>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" for="input-username">APP_HASH</label>
                                <input type="text" id="app-hash" class="form-control" placeholder="APP_HASH" type="text"
                                    value="{{user.app_hash}}" required>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" for="input-username">APP_ID</label>
                                <input type="text" id="app-id" class="form-control" placeholder="APP_ID" type="text"
                                    value="{{user.app_id}}" required>
                            </div>
                            <div class="text-center">
                                <button type="button" id="btnSubmit" class="btn btn-primary my-4">Enrigestrer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer class="footer pt-0">
            <div class="row align-items-center justify-content-lg-between">
                <div class="col-lg-6">
                    <div class="copyright text-center  text-lg-left  text-muted">
                        &copy; 2020 <a href="https://www.taneflit.com" class="font-weight-bold ml-1"
                            target="_blank">Taneflit</a>
                    </div>
                </div>

            </div>
        </footer>
    </div>
</div>
<script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $('#btnSubmit').on('click', function () {
        var is_valid = true;
        var numTel = $('#num-tel').val();
        var appId = $('#app-id').val();
        var appHash = $('#app-hash').val();
        var csrf = $('#_csrf').val()
        //$('#signUpForm input').removeClass('has-error');
        //$('.help-txt').remove();
        if (is_valid) {
            var form = $('#userForm');
            var url = form.attr('action');
            $(this).html('Please wait...');
            $(this).attr('disabled', 'disabled');
            jQuery.post("user", {
                _csrf: csrf,
                numTel,
                appId,
                appHash
            }, (res) => {
                console.log(res)
            })
        } else {
            return false;
        }
    });
</script>